# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
wheels/
*.egg
.installed.cfg
.Python
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment / secrets
.env
.env.*
.env.local
!.env.example

# other things
notebook/
sample_data/
docs/
.ruff_cache/